<!DOCTYPE HTML>

<HTML>
   <HEAD>
      <TITLE>Insert new item</TITLE>
   </HEAD>
   <BODY>
        <div id="container" >
            <div class="form">
                <form name="insert-new-item" method="post">
                     <div id="input-1">
                         <labal for="name">Insert Name:</labal>
                         <input type="text" id="name" required>
                     </div>
                     <br>
                     <div id="input-2">
                        <labal for="name">Insert Catagory:</labal>
                        <input type="text" id="catagory" required>
                    </div>
                    <br>
                    <div id="input-3">
                        <labal for="name">Insert Quantity:</labal>
                        <input type="text" id="quantity" required>
                    </div>
                    <br>
                    <div id="input-4">
                        <labal for="name">Insert Price:</labal>
                        <input type="text" id="price" required>
                    </div>
                    <br>
                    <div id="submit">
                        <input type="submit" id="submit" required>
                    </div>
                </form> 
            </div>

        </div>

   </BODY>
</HTML>
