<!DOCTYPE HTML>

<HTML>
   <HEAD>
      <TITLE>Insert new item</TITLE>
   </HEAD>
   <BODY>
        <div id="container" >
            <div class="form">
                <form name="quantity_change" method="post">
                     <div id="input-1">
                         <labal for="name">Insert Name:</labal>
                         <input type="text" name="name" id="name" required>
                     </div>
                    <br>
                    <div id="input-2">
                        <labal for="name">Insert quantity:</labal>
                        <input type="text" name="quantity" id="quantity" required>
                    </div>
                    <br>
                    <div id="submit">
                        <input type="submit" id="submit" required>
                    </div>
                    <br/> <a href="/">Back home</a>
                </form> 
            </div>

        </div>

   </BODY>
</HTML>
